          *{
                margin : 0;
                padding : 0;
                border : none;
                
            }

            body{
                background : #94618e;
                padding : 30px;
                box-shadow : 0 3px 0 #ccc;
                margin : auto;
                height: 100%;}
            h1{
                font-family : "Baloo Chettan", Arial, Serif, "Sans Serif";
                text-align :left;
                font-size : 55px;
                text-shadow : 3px 3px 3px #49274a;

            
            }
            #navigbar{list-style-type: none;
            background : #D8BFD8;
            margin-left : 10px;
            border-radius : 10px;
            padding : 5px;}
            #navigbar li{display: inline-block;
             padding-left: 15px;
             padding-right: 15px;
             font-size: 125%;
             }
             #active
             {
                 color : #fff;
                 text-shadow : 1px 1px 1px #49274a;
             }
            
            .diffcolor {
                color : #FF7F50;
            }
          
            .title{
                color : #fff;
                display : inline-block;
                border : 3px solid white;
                padding : 15px;
                margin-bottom : 20px;
                margin-top : 20px;
                border-radius : 10px;
                box-shadow : 4px 4px 4px #49274a;
                margin-left : 40px;
            }
            .title:hover{
                box-shadow : 5px 5px 5px #49274a;
            }
            .space-about
            {
                width : 1100px;
                height : auto;
                padding: 20px;
                background : #F4decb;
                margin : auto;
                margin-top : 3px;
                box-shadow : 2px 2px 2px #49274a;
                border-radius : 10px;
                min-width : 530px;
                margin-bottom : 20px;
            }
            .about
            {
                height : auto;
                width : auto;
                color : #F4decb;
                display : inline-block;
                text-align : center;
                padding : 0.3em;
                margin : 0px auto auto 15px;
                font-size : 28px;
                border : 1px solid #94618e;
                border-top-left-radius : 10px;
                border-bottom-right-radius : 10px;
                background : #49274a;
                box-shadow : 2px 2px 2px #94618e;
                font-family : "Baloo Chettan", Arial, Serif, "Sans Serif";
                text-decoration : none;
            }
         
            .tbp {
                color : #fff;
                text-align : left;
                font-family : "Amatic SC", Arial, Serif, "Sans Serif";
                font-size : 27px;
                display : block;
                margin-left: 140px;
            }
           
            .footer-links
            {
                text-align : center;
            }
             .footer-links a
            {
                text-decoration: none;
                font-size : 18px;
                padding : 10px;
                color : #fff;
                font-family : "Ubuntu", Arial, Serif, "Sans Serif";
            }
            .footer-links a:hover
            {
                color : #FF7F50;
                text-shadow : 1px 1px 1px #49274a;
            }

            